
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<style>
    .info {
        padding: 20px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .icons i {
        margin: 0px 10px;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />



<!-- End Footer -->

<footer class="footer">
    <div class="info">

        <div class="container-sm text-center">
            <div class="row">
                <div class="col">
                    Created by <a href="">@Hariom Singh Thakur</a>
                </div>
                <div class="col">
                    <a href="">Privacy terms</a>
                </div>
                <div class="col">
                    Made with &hearts;
                </div>
                <div class="col">
                    Connect with me
                    <br>
                    <div class="icons">
                        <a href=""><i class="fab fa-linkedin"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""> <i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <center>
        <div>
            <p>&copy;WanderLust. All rights reserved.</p>
        </div>
    </center>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
