<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
    <style>
        body{
            text-align: center;
        }
        img{
            height: 200px;
            width: 300px;
        }
    </style>
</head>
<body>
    <h1>Welcome to WanderLust</h1>
    <hr>
    <div class="container">
        <%- body %>
    </div>
</body>
</html>